#showcase{
    min-height: 450px;
    background: url(/ex09/img/gigi-logo.png) no-repeat;
    background-position-y: 18%;
    background-position-x: 25%;
    background-size: cover;
    text-align: center;
    color: #fff;
    filter: grayscale();
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
    filter: drop-shadow();
    color:grey;
}

#showcase p{
    font-size: 20px;
    color:grey;
}

#newsletter{
    padding: 15px;
    color: #fff;
    background: #313e46;
}

#newsletter h1{
    float: left;
}

#newsletter form{
    float: right;
    margin-top: 15px;
}


#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

#boxes{
    margin-top: 20px;
}

#boxes .box{
    float: left;
    width: 30%;
    text-align: center;
    padding: 10px;
}

#boxes .box img{
    width: 90px;
}

footer{
    padding: 20px;
    margin-top: 20px;
    color: #fff;
    background-color:#d6431a;
    text-align: center;
}

body{
    font:15px/1.5 Arial, Helvetica,sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

.button_1{
    height: 38px;
    background: #d6431a;
    border:0;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
}

header{
    background: #35424a;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #d6431a 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul{
    margin: 0;
    padding: 0;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: #d6431a;
    font-weight: bold;
}